// Custom fonts for this template
@import url("https://fonts.googleapis.com/earlyaccess/notosansbengali.css");
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

// Bootstrap core CSS
@import "~bootstrap/scss/bootstrap";

// Startbootstrap Clean Blog
@import 'startbootstrap-clean-blog.scss';

// override fonts
.font-normal {
    @include sans-serif-font;
}

.font-cursive {
    @include serif-font;
}

// Custom colors for social share links
.text-facebook, a.text-facebook:hover {
  color: #4267b2;
}

.text-linkedin, a.text-linkedin:hover {
  color: #0077b5;
}

.text-twitter, a.text-twitter:hover {
  color: #1da1f2;
}

.page-heading h1, .navbar-brand, .post-heading h1 {
    @include serif-font;
}

// generic style
body {
    @include sans-serif-font;
}

a:hover {
    color: #c0c0c0;
}

img {
    padding: $thumbnail-padding;
    background-color: $thumbnail-bg;
    border: $thumbnail-border-width solid $thumbnail-border-color;
    @include border-radius($thumbnail-border-radius);
    @include box-shadow($thumbnail-box-shadow);

    // Keep them at most 100% wide
    @include img-fluid;
}

.hidden {
    display: none;
}

.index-meta {
    margin-top: 2em;
    font-size: 24px;
    @include serif-font;
}

.category {
    font-weight: normal;
    font-size: 90%;
    padding: 0.5em 1em;
}

.form-control {
    @include sans-serif-font;
}

.post-preview > a:hover {
    color: #c0c0c0;
}

.post-preview > .post-meta {
    font-size: 16px;
}

// 2 column list style
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@include media-breakpoint-down(sm) {
    ul {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
}

// pagination
section#paginator {
  display: flex;
  justify-content: center;
}

section#paginator .selected {
    font-weight: bold;
    color: #c0c0c0;
}

section#paginator a, section#paginator span {
    float: left;
    padding: 5px;
    margin: 0 6px;
    text-decoration: none;
}
